.header{
  background-color: #cdc3e6;
  font-family: Optima, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header h1{
  font-size: 40px;
  padding-block: 15px;
  text-align: center;
}

.header nav ul{
  display:flex;
  justify-content: space-between;
  margin: 25px;
  padding-block: 20px;
  font-size: 25px;
}

.box{
  flex-direction: column;
  flex-wrap: wrap;
  border-style:dotted;
  border-width: 1px;
  padding: 25px;
  margin: 0px;
  background-color: #c3cde6;
}


.img{
  width: 45%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.card{
  border-style: dotted;
  border-width: 1px;
  flex-wrap: wrap;
  padding:10px;
  margin:20px;
  background-color: #E6C3CD;
}

.h2{
  font-size: 20px;
  font-weight: bold;
  line-height: 2;
}

.paragraph {
  font-family: Optima,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

.funfact{
  line-height: 2;
  font-size:15px;
  font-family: Optima,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.footer{
  background-color: #cdc3e6;
  font-family: Optium,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display:flex:inline-flex;
  justify-content: space-between;
  margin: 15px;
  padding-block: 20px;
  font-size: 15px;
}

.footer ul li{
  display: inline-flex;
  justify-content: space-between;
  margin: 0;
  padding-block: 15px;
  font-size: 15px;
}

@media only screen and (max-width:700px){
  .box{
    background-color: #CDE6C3;
  }
  .header,.footer{
    background-color: #957DAD;
  }
}

.figcaption{
  font-weight: bold;
}

.pdf{
  align-items: center;
}



